<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <script src="https://kit.fontawesome.com/dbf8b52bf4.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <header>
        <h1>Qurno</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Elements</a></li>
                <li><a href="">Archive</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Pages</a></li>
            </ul>
        </nav>
        <section>
            <a href="">Search<i class="fa-solid fa-magnifying-glass"></i></a>
            
        </section>
    </header>

    <main>
        <section>
            <h2>Taking control of your daily life is easy when you know how!</h2>
        </section>
        
        <section>
            <h3>Recent posts</h3>
            
            <section>
                <article>
                    <img src="https://platol.netlify.app/qurno/assets/images/blog/02.jpg" alt="image"/>
                    <p>05 Dec, 2021 —  02 min read</p>
                    <h4>The AGI hype train is running out of steam</h4>
                    <p>The AGI hype train has hit some heavy traffic. While futurists and fundraisers used to make bullish predictions about artificial general intelligence, …</p>
                    <footer>
                        <img src="https://platol.netlify.app/qurno/assets/images/author/thomas-macaulay.jpg" alt="image"/>
                        <p>by Thomas</p>
                    </footer>
                </article>
                <article>
                    <img src="https://platol.netlify.app/qurno/assets/images/blog/03.jpg" alt="image"/>
                    <p>17 Nov, 2021 —  02 min read</p>
                    <h4>Creating an object that travels at 1% the speed of light?</h4>
                    <p>Light is fast. In fact, it is the fastest thing that exists, and a law of the universe is that nothing can move faster than light. Light travels at …</p>
                    <footer>
                        <img src="https://platol.netlify.app/qurno/assets/images/author/chris-impey.jpg" alt="image"/>
                        <p>by Chris</p>
                    </footer>
                </article>
            </section>
            
            <section>
                 <article>
                    <img src="https://platol.netlify.app/qurno/assets/images/blog/04.jpg" alt="image"/>
                    <p>16 Nov, 2021 —  01 min read</p>
                    <h4>Everything you wanted to know about the metaverse</h4>
                    <p>In the wake of Facebook rebranding as Meta, reflecting its focus on the “metaverse”, Microsoft has now announced it, too, will launch into this space. …</p>
                    <footer>
                        <img src="https://platol.netlify.app/qurno/assets/images/author/emma-hazel.jpg" alt="image"/>
                        <p>by Emma</p>
                    </footer>
                 </article>
                <article>
                    <img src="https://platol.netlify.app/qurno/assets/images/blog/07.jpg" alt="image"/>
                    <p> 15 Nov, 2021 —  03 min read</p>
                    <h4>How to hire a developer straight out of bootcamp — without getting burned</h4>
                    <p>There’s a worldwide talent shortage in software development, and nearly one-third of hiring managers have hired someone from a coding bootcamp to help …</p>
                    <footer>
                        <img src="https://platol.netlify.app/qurno/assets/images/author/chris-impey.jpg" alt="image"/>
                        <p>by Chris</p>
                    </footer>
                </article>
            </section>
            
            <section>
                 <article>
                    <img src="https://platol.netlify.app/qurno/assets/images/blog/09.jpg" alt="image"/>
                    <p>12 Oct, 2020 —  03 min read</p>
                    <h4>Why developers are so divided over WordPress</h4>
                    <p>After seeing WordPress top the most dreaded platform on Stack Overflow’s Developer Survey for two years in a row (2019 and 2020), a few weeks ago we …</p>
                    <footer>
                        <img src="https://platol.netlify.app/qurno/assets/images/author/thomas-macaulay.jpg" alt="image"/>
                        <p>by Thomas</p>
                    </footer>
                 </article>
                <article>
                    <img src="https://platol.netlify.app/qurno/assets/images/blog/06.jpg" alt="image"/>
                    <p>14 Sep, 2020 —  03 min read</p>
                    <h4>Why everyone is talking about ‘green steel’ at COP26</h4>
                    <p>Among the rhetoric of climate change bingo and platitudes, there’s a term I’ve been hearing a lot at COP26 this week — green steel. But what is it, …</p>
                    <footer>
                        <img src="https://platol.netlify.app/qurno/assets/images/author/chris-impey.jpg" alt="image"/>
                        <p>by Thomas</p>
                    </footer>
                </article>
            </section>
           
            
        </section>
        
        <section>
            <button>View all posts</button>
            <p>Get latest posts delivered right to your inbox</p>
            <form>
                <input type="mail" name="mail" placeholder="Your email adress"/>
                <button>Joint today</button>

            </form>
        </section>
        
    </main>    
    
    
</body>
</html>