<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <script src="https://kit.fontawesome.com/dbf8b52bf4.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <header>
        <h1>Qurno</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Elements</a></li>
                <li><a href="">Archive</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Pages</a></li>
            </ul>
        </nav>
        <section>
            <a href="">Search</a>
            <i class="fa-solid fa-magnifying-glass"></i>
        </section>
    </header>

    <main>
        <h2>Taking control of your daily life is easy when you know how!</h2>
        
        <section>
            <h3>Recent posts</h3>
            
            <section>
                <article></article>
                <article></article>
            </section>
            
            <section>
                 <article></article>
                <article></article>
            </section>
            
            <section>
                 <article></article>
                <article></article>
            </section>
           
            
        </section>
        
        
        
        
        
    </main>    
    
    
</body>
</html>