<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <script src="https://kit.fontawesome.com/dbf8b52bf4.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <header>
        <h1>Qurno</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Elements</a></li>
                <li><a href="">Archive</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Pages</a></li>
            </ul>
        </nav>
        <section>
            <a href="">Search</a>
            <i class="fa-solid fa-magnifying-glass"></i>
        </section>
    </header>

    <main>
        <section>
            <h2>Taking control of your daily life is easy when you know how!</h2>
        </section>
        
        <section>
            <h3>Recent posts</h3>
            
            <section>
                <article>
                    <h4>Case 1</h4>
                    <p>C'est la case 1</p>
                </article>
                <article>
                    <h4>Case 2</h4>
                    <p>C'est la case 2</p>
                </article>
            </section>
            
            <section>
                 <article>
                    <h4>Case 3</h4>
                    <p>C'est la case 3</p>
                 </article>
                <article>
                    <h4>Case 4</h4>
                    <p>C'est la case 4</p>
                </article>
            </section>
            
            <section>
                 <article>
                    <h4>Case 5</h4>
                    <p>C'est la case 5</p>
                 </article>
                <article>
                    <h4>Case 6</h4>
                    <p>C'est la case 6</p>
                </article>
            </section>
           
            
        </section>
        
        <section>
            <button>View all posts</button>
            <p>Get latest posts delivered right to your inbox</p>
            <form>
                <input type="mail" name="mail"/>
                <button>Joint today</button>

            </form>
        </section>
        
    </main>    
    
    
</body>
</html>