@import "reset.scss";
@import "vars.scss";

a{
    text-decoration : none;
    color: black;

}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    text-decoration : none;
    z-index: 2;
    
    h1{
        font-size: 2rem;
        font-weight: bold;
        padding: 0 8vw;
    }
    
    nav ul{
        display: flex;
        flex-direction: row;
        
        li{
            padding: 0 2vw;
            font-size: 1rem;
        }
    }
    section{
        padding: 0 8vw;
        font-size: 1rem;
    }
}

main{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    h2{
        text-align: center;
        margin-top: 20vh;
        font-size: 4rem;
        font-weight: bold;
        padding: 120px;
    }
    
    section{
        height: 100vh;
        width: 90vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
        
        h3{
            text-align: center;
            font-size: 2.4rem;
            font-weight: bold;
        }
        
        section{
            grid-template-columns: 1fr 1fr;
            
            article{
                border: 1px solid black;
                row-gap: 20px;
            }
        }
        
    }
}