@import "reset.scss";
@import "vars.scss";

a{
    text-decoration : none;
    color: black;

}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    text-decoration : none;
    z-index: 2;
    
    h1{
        font-size: 2rem;
        font-weight: bold;
        padding: 0 8vw;
    }
    
    nav ul{
        display: flex;
        flex-direction: row;
        
        li{
            padding: 0 2vw;
            font-size: 1rem;
        }
    }
    section{
        padding: 0 8vw;
        font-size: 1rem;
    }
}

main{
    // height: 400vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    > section:nth-of-type(1){
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: grey;
        
        h2{
            font-size: 4rem;
            text-align: center;
            margin: 0 200px;
        }
    }
    
    > section:nth-of-type(2){
        height: 200%;
        width: 80%;
        display: grid;
        grid-template-rows: 0.1fr 1fr 1fr 1fr;
        row-gap: 50px;
            
        > h3{
            font-size: 2rem;
            text-align: center;
            margin: 50px;
        }
        
        > section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            
            > article{
                border: 1px solid grey;
                
                > img{
                    width: 100%;
                }
                > p{
                    font-size: 1.1rem;
                    margin: 20px 0;
                }
                > h4{
                    font-size: 2rem;
                    font-weight: bold;
                    margin: 20px 0;
                }
                > footer{
                    display: flex;
                    flex-direction: row;
                    margin: 20px 0;
                    
                    > img{
                        height: 40px;
                    }
                    > p{
                        margin: 0 20px;
                        align-self: center;
                    }
                }
            }
        }
    }
    
    > section:nth-of-type(3){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        
        >button{
            height: 50px;
            width: 200px;
            background-color: pink;
            color: white;
            border: none;
            border-radius: 10px;
            margin: 50px;
        }
        
        > p{
            font-size: 3rem;
            font-weight: bold;
            margin: 20px;
        }
        
        > form{
            
            >input{
            height: 30px;
            width: 300px;
            background-color: white;
            border: 1px solide pink;
            border-radius: 10px;
            margin: 50px 0;
            }
            >button{
            height: 30px;
            width: 100px;
            background-color: pink;
            color: white;
            border: none;
            border-radius: 10px;
            margin: 50px 0;
        }
        }
    }
    
}